html,
body {
  margin: 0;
  min-height: 100vh;
  overflow: auto;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
  display: flex;
}

header {
  height: 100px;
  padding: 8px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  gap: 16px;
}

header > img {
  height: 80px;
  width: auto;
}

.projects-section {
  flex: 0 0 auto;
  width: 300px;
  border: 1px solid black;
  padding: 8px;
}

.projects-section ul li {
  list-style-image: url("./images/folder.svg");
}

.projects-section h2 {
  margin-bottom: 8px;
}

.projects-section button {
  padding: 8px 16px;
  background-color: #0cff0c;
  border-color: #000000;
}

.project-name {
  margin-bottom: 8px;
  word-wrap: break-word;
  white-space: normal;
}

.project-actions {
  display: flex;
  gap: 8px;
}

footer {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todos-section {
  padding: 16px;
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 16px 16px;
  align-content: flex-start;
  border: 1px solid black;
}

.todo-item {
  border: 1px solid black;
  width: 350px;
  height: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.todo-actions {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-bottom: 16px;
}

.todo-data {
  display: flex;
  gap: 16px;
}

.todo-info {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.todo-data-type {
  flex-shrink: 0;
  width: 80px;
}

.todo-data-value {
  flex: 1 1 auto;
  word-break: break-all;
}

.mark-as-complete {
  padding: 8px 16px;
  display: block;
  margin: auto;
}
