html,
body {
  margin: 0;
  min-height: 100vh;
  overflow: auto;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
  display: flex;
}

header {
  height: 100px;
  padding: 8px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  gap: 16px;
}

header > img {
  height: 80px;
  width: auto;
}

.projects-section {
  flex: 0 0 auto;
  width: 250px;
  border: 1px solid black;
  padding: 8px;
}

.projects-section ul li {
  list-style-image: url("./images/folder.svg");
}

.projects-section h2 {
  margin-bottom: 8px;
}

.projects-section button {
  padding: 8px 16px;
  background-color: #0cff0c;
  border-color: #000000;
}

.project-name {
  margin-bottom: 8px;
  word-wrap: break-word;
  white-space: normal;
}

.project-actions {
  display: flex;
  gap: 8px;
}

footer {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todos-section {
  padding: 16px;
  padding-right: 80px;
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 16px 16px;
  align-content: flex-start;
}

.todo-item {
  border: 1px solid black;
  width: 350px;
  height: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.todo-actions {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-bottom: 16px;
}

.todo-data {
  display: flex;
  gap: 16px;
}

.todo-info {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.todo-data-type {
  font-weight: 700;
  flex-shrink: 0;
  width: 80px;
}

.todo-data-value {
  flex: 1 1 auto;
  word-break: break-all;
}

.toggle-completed-status-button {
  padding: 8px 16px;
  display: block;
  margin: auto;
}

.float-button {
  position: fixed;
  bottom: 60px;
  right: 20px;
  z-index: 1;
}

.float-button img {
  height: 50px;
  width: 50px;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 2;
}

.overlay.active {
  display: block;
}

.form-flex-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-card {
  width: 500px;
  height: auto;
  padding: 25px;
  border-radius: 10px;
  background-color: white;
}

form.active {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.submit-button {
  display: block;
  margin: 0 auto;
  padding: 8px 16px;
}

.priority-1.completed,
.priority-2.completed,
.priority-3.completed,
.priority-4.completed {
  background-color: #e3e3e3;
}

.todos-section .priority-1 {
  order: 1;
}

.todos-section .priority-2 {
  order: 2;
}

.todos-section .priority-3 {
  order: 3;
}

.todos-section .priority-4 {
  order: 4;
}

.priority-1 {
  background-color: #f07b5e;
}

.priority-2 {
  background-color: #f4a261;
}

.priority-3 {
  background-color: #e9c46a;
}

.priority-4 {
  background-color: #3bd6c4;
}

.priority-options div {
  margin-bottom: 16px;
  padding: 8px;
}

textarea {
  resize: none;
}

.template {
  display: none;
}

form {
  display: none;
}

.display-area {
  flex: 1 1 0;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.project-info {
  text-align: center;
}
