html,
body {
  margin: 0;
  min-height: 100vh;
  overflow: auto;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

header {
  height: 100px;
  padding: 8px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  gap: 16px;
}

header > img {
  height: 80px;
  width: auto;
}

.projects-section {
  width: 300px;
  border: 1px solid black;
  padding: 8px;
}

.project-name {
  margin-bottom: 8px;
}

.project-actions {
  display: flex;
  gap: 8px;
}
